@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #333;
	color: #222;
	overflow-x: hidden;
}

h3 {
	padding: 2rem 2rem 2rem 0;
}
/* to make image clear n sized */
.content img {
	max-width: 100%;
	padding-bottom: 2rem;
}
.container {
	background-color: #fafafa;
	/* to rotate from very left top corner */
	transform-origin: top left;
	/* add transition */
	transition: transform 0.5s linear;
	width: 100vw;
	min-height: 100vh;
	padding: 50px;
}

.circle-container {
	position: fixed;
	top: -125px;
	left: -100px;
}
/* to rotate */
.container.show-nav {
	transform: rotate(-20deg);
}
.circle {
	background-color: #ff7979;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
	transition: transform 0.5s linear;
}
.container.show-nav .circle {
	transform: rotate(-70deg);
}
.circle button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	background: transparent;
	/* to remove border from icons */
	border: 0;
	font-size: 26px;
	color: white;
}
.circle button:focus {
	outline: none;
}
.circle button#open {
	left: 60%;
}
.circle button#close {
	top: 60%;
	transform: rotate(90deg);
	transform-origin: top left;
}
.container.show-nav + nav li {
	transform: translateX(0);
	transition-delay: 0.3s;
}
nav {
	position: fixed;
	bottom: 40px;
	left: 0;
	z-index: 100;
}
nav ul {
	list-style-type: none;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
}
nav ul li {
	text-transform: uppercase;
	color: white;
	margin: 20px 0;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in;
}
nav ul li i {
	font-size: 20px;
	margin-right: 10px;
}
/* for sticking out of 2nd & 3rd nav lis */
nav ul li + li {
	margin-left: 15px;
	transform: translateX(-150%);
}
nav ul li + li + li {
	margin-left: 30px;
	transform: translateX(-200%);
}
.content {
	max-width: 1000px;
	margin: 50px;
}
.content h1 {
	margin: 0;
}
.content small {
	color: #555;
	font-style: italic;
}
small {
	padding: 2rem 2rem 2rem 0;
}
.content p {
	color: #333;
	line-height: 1.5;
}
